[submodule "plugins/tmux-better-mouse-mode"]
	path = plugins/tmux-better-mouse-mode
	url = https://github.com/NHDaly/tmux-better-mouse-mode
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux-mighty-scroll"]
	path = tmux-mighty-scroll
	url = https://git::@github.com/noscript/tmux-mighty-scroll
[submodule "tmux-sensible"]
	path = tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "plugins/tmux-sensible"]
	path = plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "plugins/tmux-mighty-scroll"]
	path = plugins/tmux-mighty-scroll
	url = https://git::@github.com/noscript/tmux-mighty-scroll
