[submodule "plugins/tmux-better-mouse-mode"]
	path = plugins/tmux-better-mouse-mode
	url = https://github.com/NHDaly/tmux-better-mouse-mode
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
